[run]
branch=True
source=
    sqlalchemy_aio/
    tests/

[paths]
source=
    sqlalchemy_aio
    .tox/*/lib/python*/site-packages/sqlalchemy_aio

[report]
exclude_lines=
	if __name__ == '__main__':
	pass
	raise NotImplementedError
